.root{
	-fx-background-color: black;
	-fx-background-radius: 5;
}
.background {
    -fx-background-color: black;
}

.label {
	-fx-alignment: center ;
    -fx-font-size: 28pt;
    -fx-font-family: "Segoe UI Semibold";
    -gradient-base: red ;
    -gradient-final:blue;
    -fx-text-fill: linear-gradient(to right, -gradient-base, -gradient-final);
    -fx-text-alignment: center;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
	-fx-background-color: black;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: transparent;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color:linear-gradient(from 25% 25% to 100% 100%, #dc143c, #32cd32);;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #32cd32,#dc143c);;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: transparent;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.new{
	-fx-background-image: url(/Assets/play.png);
    -fx-background-size: 70px 70px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
	-fx-background-radius: 5em;
    -fx-min-width: 80px;
    -fx-min-height: 80px;
    -fx-max-width: 80px;
    -fx-max-height: 80px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.new:hover{
	-fx-background-color:transparent;
    -fx-background-size: 80px 80px;
}

.reload{
	-fx-background-image: url(/Assets/reloadL.png);
    -fx-background-size: 70px 70px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
	-fx-background-radius: 5em;
    -fx-min-width: 80px;
    -fx-min-height: 80px;
    -fx-max-width: 80px;
    -fx-max-height: 80px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.reload:hover{
	
    -fx-background-color: red;
}
.lb{
	-fx-background-image: url(/Assets/lbL.png);
    -fx-background-size: 100px 100px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
	-fx-background-radius: 5em;
    -fx-min-width: 80px;
    -fx-min-height: 80px;
    -fx-max-width: 80px;
    -fx-max-height: 80px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


.lb:hover{
	
    -fx-background-color: blue;
}

.submit{
	-fx-background-image: url(/Assets/submitL.png);
    -fx-background-size: 90px 90px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
	-fx-background-radius: 10em;
    -fx-min-width: 100px;
    -fx-min-height: 100px;
    -fx-max-width: 100px;
    -fx-max-height: 100px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.submit:hover{
	-fx-background-color:linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);;
}


.changeName-field {
	-fx-alignment: center ;
   -fx-font-family: "Quicksand";
   -fx-font-size: 18;
   -fx-padding: 1,1,1,1;
   -fx-border-color:linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);;
   -fx-border-width: 2;
   -fx-border-radius: 1;
   -fx-border: gone;
   -fx-background-color: transparent;
   -fx-text-fill: linear-gradient(from 25% 25% to 100% 100%, #dc143c, #32cd32);
   
}


.shop{
	-fx-background-image: url(/Assets/cartL.png);
    -fx-background-size: 75px 75px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
	-fx-background-radius: 5em;
    -fx-min-width: 80px;
    -fx-min-height: 80px;
    -fx-max-width: 80px;
    -fx-max-height: 80px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.shop:hover{
	-fx-background-color: yellow;	
}

.home{
	-fx-background-image: url(/Assets/home.png);
    -fx-background-size: 90% 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
	-fx-background-radius: 5em;
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-max-width: 90px;
    -fx-max-height: 90px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.highscore{
	-fx-background-image: url(/Assets/highscore.gif);
	-fx-background-size: 350px 500px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.ball1{
	-fx-background-image: url(/Assets/circleRed.png);
    -fx-background-size: 90% 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
	-fx-background-radius: 5em;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


.ball2{
	-fx-background-image: url(/Assets/squareBlue.png);
    -fx-background-size:90% 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
	-fx-background-radius: 5em;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


.ball3{
	-fx-background-image: url(/Assets/ball.png);
    -fx-background-size: 90% 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
	-fx-background-radius: 5em;
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-max-width: 60px;
    -fx-max-height: 60px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


.ball4{
	-fx-background-image: url(/Assets/ball.png);
    -fx-background-size: 90% 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
	-fx-background-radius: 5em;
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-max-width: 60px;
    -fx-max-height: 60px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.jump{
	-fx-opacity: 0;
    -fx-min-width: 300px;
    -fx-min-height: 430px;
    -fx-max-width: 300px;
    -fx-max-height: 430px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.jump:hover {
    -fx-background-color: transparent;
}

.jump:pressed, .jump:default:hover:pressed {
  -fx-background-color: transparent;
  -fx-text-fill: transparent;
}

.jump:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0, 0;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.jump:disabled, .jump:default:disabled {
    -fx-opacity: 0;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
}

.jump:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: transparent;
}

.jump:default:hover {
    -fx-background-color: transparent;
}

.pause{
	-fx-background-image: url(/Assets/pause.png);
    -fx-background-size: 90% 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 5em;
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-max-width: 60px;
    -fx-max-height: 60px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.save{
	-fx-background-image: url(/Assets/save.png);
    -fx-background-size: 90% 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 2em;
    -fx-min-width: 90px;
    -fx-min-height: 90px;
    -fx-max-width: 90px;
    -fx-max-height: 90px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


.highscore{
	-fx-background-image: url(/Assets/highscore.gif);
	-fx-background-size: 400px 700px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.sound{
    -fx-background-size: 75px 75px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
	-fx-background-radius: 5em;
    -fx-min-width: 80px;
    -fx-min-height: 80px;
    -fx-max-width: 80px;
    -fx-max-height: 80px;
    -fx-background-color:linear-gradient(from 25% 25% to 100% 100%, #32cd32,#dc143c);
    -fx-border-color: transparent;
}
